<%= javascript_include_tag 'application', crossorigin: 'anonymous' %>
<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :featured_image_url, style: "display: block" %>
    <%= form.text_field :featured_image, class: "w-full" %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "w-full" %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.trix_editor :body, required: true, autofocus: true %>
  </div>

  <div>
    <%= form.label :video_url, style: "display: block" %>
    <%= form.text_field :video_url, class: "w-full", required: false %>
  </div>

 <div>
   <%= form.label :ingredients, style: "display: block" %>
   <%= cocooned_container do %>
   <%= form.fields_for :ingredients do |ingredient_form| %>
       <%= render 'ingredient_fields', f: ingredient_form %>
     <% end %>
     <p><%= cocooned_add_item_link 'Add an ingredient', form, :ingredients, class: 'bg-transparent hover:bg-blue-500 text-blue-700 font-semi-bold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %></p>
   <% end %>
 </div>

  <div>
    <%= form.submit class: 'bg-transparent hover:bg-blue-500 text-blue-700 font-semi-bold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
  </div>
<% end %>